.slogan {
  background-color: #0e0e0e;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.slogan-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #bea69e;
}

.slogan-title .accent {
  color: #ffffff;
}

@media (min-width: 768px) {
  .slogan {
    padding: 80px 0;
  }

  .slogan-title {
    font-size: 36px;
  }
}

@media (min-width: 1280px) {
  .slogan {
    padding: 112px 0;
  }

  .slogan-title {
    font-size: 48px;
    letter-spacing: 0.6px;
  }
}
